@import url("http://fonts.googleapis.com/css?family=Courgette");
@import url("http://fonts.googleapis.com/css?family=Frijole");

/* ---------------------    COLORS SCHEME USED      -------------------------------*/
/*
#FFFFFF - white            rbga (255, 255, 255, 1)
#000000 - black            rgba(0, 0, 0, 1)
#FF00BB - hot pink         rgba(255, 0, 187, 1)
#FF80DD - medium pink      rgba (255, 128, 221, 1)
#FEBFED - light pink       rgba(254, 223, 246, 1)
#9C00FF - neon purple      rgba(156, 0, 255, 1)
#CE80FF - medium purple    rgba(206, 128, 255, 1)
#E6BFFE - light purple     rgba(230, 191, 254, 1)
*/
/* ---------------------    END COLORS SCHEME     -------------------------------*/

/* ---------------------    MAIN BODY      -------------------------------*/
html {background: #000000 !important;}

body, 
.bodyContent {
 background: #000000 !important; 
 background-attachment: fixed;
 background-position: center; 
 background-repeat: repeat; 
 background-size: cover;
}

/* ALL LINKS */
a, a:link {
color: #9C00FF;
}
 
a:hover {
 color: #E6BFFE;
text-decoration: line-through;
}

a:visited {
color: #CE80FF;
}

#ctl00_oMasterBody > div {background-image: none !important;} 
/* HIDES LAST LOGIN INFO and MEMBER SINCE */
#ctl00_oCPH1_trMemberStats {display: none !important;}  

/* ---------------------    TABLES      -------------------------------*/
/* MAKES TABLE TRANSPARENT */
table, 
td {
background-color: transparent; 
border: none; 
border-width: 0;
}  

tr {
background-color: transparent; 
border: none; 
border-width: 0;
/*text-align: center ;*/
}

hr {
 background: url("");
 /*background-color:rgba(0,0,0,0.10);*/
border: 0; 
height: 1px; 
background-image: 
-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(156,0,255,0.75), rgba(0,0,0,0)); 
background-image: 
-moz-linear-gradient(left, rgba(0,0,0,0), rgba(156,0,255,0.75), rgba(0,0,0,0)); 
background-image: 
-ms-linear-gradient(left, rgba(0,0,0,0), rgba(156,0,255,0.75), rgba(0,0,0,0)); 
background-image: 
-o-linear-gradient(left, rgba(0,0,0,0), rgba(156,0,255,0.75), rgba(0,0,0,0));  } 

/* --------------------------         ERASES AD AND NAV BAR        ---------------------------*/
.SCMainAdSpace, .SCMainHeaderPanel {display: none;}
/* DROP DOWN ARROW IMG FROM ALL PLACES */
img[src="/images/t2/sec-header-arrow-bk.gif"] {display: none;}
/* BKGRD TITLE BAR */
background[src="http://www.utherverse.com/images/t2/sec-header-bg-bk.gif"] {display: none;}
background[src="/images/t2/sec-header-bg-bk.gif"] {display: none;}
/* ----------------------------        CONTENT TITLE BARS          -------------------------*/

/* CHANGES FYRE'S PROFILE and MESSAGE CENTER TITLE BARS */
#MSCodesFixer > tbody > tr > td > table > tbody:first-of-type  > tr > td > div:first-of-type, 			
/* CHANGES GENERAL INFO and FYRE'S SCOOP TITLE BARS */
#ctl00_oCPH1_tbDetailsSection > tr > td  > div:first-of-type, 
/* CHANGES SEXY STUFF TITLE BAR */
#ctl00_oCPH1_pnlSexyStuff > div:first-of-type, 								
/* CHANGES WEB GIFTS TITLE BAR */
#ctl00_oCPH1_pnlWebGifts > div:first-of-type,  										
/* CHANGES????  something in About Me & Like to Meet??? */
/*#ctl00_oCPH1_tbDetailsSection > tr > td:last-of-type  > div:nth-of-type(3), */
/* CHANGES? something in Friends List PDispBox?*/
/*#ctl00_oCPH1_tblFriendsList > tr:first-of-type > td > div, */
/* CHANGES SEARCH BAR */
#ctl00_oCPH1_tbCommentsSection > tr:first-of-type > td > div, .MPToolsBar,
#ct100_oMasterContentDiv > div:nth-child(2)
/* ELEMENT.STYLE */
{ border-radius: 5px 5px; 
padding-bottom: 5px;
text-align: center !important;
/*border: 2px solid rgba(254, 223, 246, 1); */ /*LIGHT PINK*/
border: 2px solid rgba(156, 0, 255, 1);  /*NEON PURPLE*/
/*border: 2px solid rgba(255, 0, 187, 1);*/  /*HOT PINK*/
background: rgba(0, 0, 0, 0.78) !important;
background: #000000 url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/label02f_zps56f59111.png")!important;
font-family: 'Courgette', cursive;
color: #FFFFFF; 
font-size: 16px; 
text-transform: uppercase;
}
 
table table table table td {filter: none;}

#MSCodesFixer > tbody > tr > td > table > tbody:first-of-type  > tr > td:nth-of-type(2) > 
div:first-of-type > table > tbody > tr > td {padding-top: 12px;} 	
/*#MSCodesFixer > tbody > tr > td > table > tbody:first-of-type  > tr > td:nth-of-type > div:first-of-type {} 	*/

/*div#ctl00_oCPH1_tbFriendsSection > tr:first-of-type > td > div > img { display:none; }
div {background-image: none;}*/
/* ------------------------------      FRIENDS LIST IMGS       -------------------------*/
/* BORDER AROUND FRIENDS LIST IMGS */
.PDispBox {
border-radius: 5px; 
border: 2px solid rgba(255, 0, 187, 1);  /*HOT PINK*/
background: #000000 url('') norepeat;}

.PDispUsername, .PDispImage {
background: rgba(0, 0, 0, 0.78) !important;
background-image: none;}

.PDispOnlineSC,
.PDispOnline3D {
 background-color: transparent;
}

/* WHITE TEXT FOR SUBTITLES */
td > b {
font-family: 'Courgette', cursive; 
color: #FFFFFF; 
font-size: 14px; 
text-transform: uppercase;
top: 0px !important;}

/* HOT PINK TEXT FOR MAIN CONTENT */
div p { 
font-family: 'Courgette', cursive; 
color: #FF00BB; 
font-size: 14px; 
text-align: center !important; 
top: 0px !important;}  

/* GENERAL INFO and SEXY STUFF TEXT */
td > span {
font-family: 'Courgette', cursive; 
color: #FF00BB; 
font-size: 12px; 
text-align: center !important; 
top: 0px !important;}  

/* REMOVES ICONS FROM MESSAGE CENTER and FYRE'S PROFILE */
img[src="/images/ico-16-zoom.gif"],
img[src="/images/ico-16-clothing.gif"],
img[src="/images/ico-16-document.gif"],
img[src="/images/ico-16-mail.gif"],
img[src="/images/ico-16-friend.gif"],
img[src="/images/ico-16-transfer.gif"],
img[src="/images/ico-16-gift.gif"],
img[src="/images/ico-16-block.gif"]/*,
img[src="/images/t1/VIP-30.png"]*/ {display:none;}

/* REPLACES ICONS FROM MESSAGE CENTER and FYRE'S PROFILE */
/*
background-image: url(http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/Document_zps81a71f90.png);}
*/

a.link, .menu2.link {color: #FFFFFF !important;}
a.link, .menu2.link: hover {color: #9C00FF !important; text-decoration: none;}
a.link, .menu2.link {color: #FF00BB !important;}


/*---------------------------------------       MESSAGE CENTER      ----------------------------------------*/

#ctl00_oCPH1_oDivStatus {
font-family: 'Courgette', cursive; 
color: #FF00BB !important;
font-size: 16px;
padding-top: 12px;
padding-bottom: 12px;
}

/* WHITE TEXT FOR PROFILE PERSONAL INFO & BLOG ENTRY TITLE */
#ctl00_oCPH1_lblRSex,
#ctl00_oCPH1_lblMySexuality,
#ctl00_oCPH1_lblAge, 
#ctl00_oCPH1_lblCityState,
#ctl00_oCPH1_lblCountry,
#ctl00_oCPH1_trMemberStats,
#ctl00_oCPH1_trBlogEntries {
font-family: 'Courgette', cursive; 
color: #FFFFFF !important;
font-size: 14px;}

#ctl00_oCPH1_lblRSex {margin-top: 15px;}
#ctl00_oCPH1_trBlogEntries > td > div {text-align: center;}
#ctl00_oCPH1_trBlogEntries > td > div > b {margin-left: 35px !important;}

/* HOT PINK TEXT - MY OUTFITS LINK */
#ctl00_oCPH1_trListOutfits > td {padding-top: 25px; line-height:34px;}
#ctl00_oCPH1_oDivListOutfits > a.menu2 {
font-family: 'Courgette', cursive; 
color: #FF00BB !important;
font-size: 20px;
text-shadow: 1px 1px 1px #000000, -2px 2px 9px #FFCCFB, 2px -2px 9px #FEBFED; /*"GLOW"*/
text-align: left !important;
margin-left: 35px;
}

/* WHITE LINKS */
#ctl00_oCPH1_trCommLinks a,
#ctl00_oCPH1_trSendChips a {
font-family: 'Frijole', cursive;; 
color: #FFFFFF !important;
font-weight: normal;
font-size: 12px;
text-align: left !important;
margin-left: 35px;
}

/* ICON REPLACE - MESSAGE ME */
#ctl00_oCPH1_trCommLinks {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/1a_zpsf5edb152.png") !important;
background-repeat: no-repeat;
background-position: left top;
line-height: 32px;
/*padding-top:12px;*/
/*vertical-align: middle;*/
}

#ctl00_oCPH1_trCommLinks > div:first-child a {text-align: left !important;}

/* ICON REPLACE - ADD ME */
#ctl00_oCPH1_oDivAdAsFriend   {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/2b_zpsff22fb4a.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
}

/* ICON REPLACE - SEND ME FUNDS */
#ctl00_oCPH1_oDivTransferRays   {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/3a_zpsb90f92fd.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
}

/* ICON REPLACE - SEND ME GIFT */
#ctl00_oCPH1_oDivSendGift   {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/4b_zps57ed72b3.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
}

/* ICON REPLACE - BLOCK ME */
#ctl00_oCPH1_trCommLinks > td > div:last-child {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/5a_zps376e7cf1.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
}

/* ICON REPLACE - SEND ME CHIPS */
#ctl00_oCPH1_oDivTransferChips {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/6b_zps0f28da41.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
line-height: 32px;
}


/* NEON PURPLE TEXT - MY WISHLIST LINK */
#ctl00_oCPH1_oDivListWishes > a.menu2 {
font-family: 'Courgette', cursive; 
color: #9C00FF !important;
font-size: 20px;
text-shadow: 1px 1px 1px #000000, -1px 1px 8px #F3CCFF, 1px -1px 8px #E6BFFE; /*"GLOW"*/
text-align: left !important;
margin-left: 35px;
}

/* HOT PINK - MY OUTFITS */
#ctl00_oCPH1_oDivListOutfits a:hover ,
/* NEON PURPLE - MY WISHLIST */
#ctl00_oCPH1_oDivListWishes a:hover {  
text-decoration: line-through;
}

/* ICON REPLACE - MY OUTIFTS */
#ctl00_oCPH1_oDivListOutfits {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/7a_zps8d010ec6.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
height: 32px;
/*padding-top: 50px;*/
}

#ctl00_oCPH1_oDivListOutfits img {
position: fixed;
}

/* ICON REPLACE - MY WISHLIST */
#ctl00_oCPH1_oDivListWishes {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/8b_zps28cb963b.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
height: 32px;
}

#ctl00_oCPH1_oDivListWishes img {
position: fixed;
height: 32px;
width: 32px;
}

#ctl00_oCPH1_imgVIPOnly {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/VIP-30b_zpsa076e8cb.png") !important;
background-repeat: no-repeat;
background-position: left top;
}
/* WHITE LASTEST BLOGS TITLE */
#ctl00_oCPH1_lblLastBlogEntries > td > div > b {
margin-left: 20px;
text-decoration: underline;
} 

/*HOT PINK TEXT - LASTEST BLOG ENTRIES LINKS*/
#ctl00_oCPH1_lblLastBlogEntries a {
font-family: 'Courgette', cursive; 
color: #FF00BB !important;
font-size: 12px;}

#ctl00_oCPH1_lblLastBlogEntries a:hover {
text-decoration: line-through;
color: #FF80DD;
}

#ctl00_oCPH1_lblLastBlogEntries a:visited {
color: #FF80DD !important;
text-decoration: line-through;
}

/* ICON REPLACE - ALL MY BLOGS */
#ctl00_oCPH1_trBlogEntries > td > div:nth-child(2) {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/9a_zpsf741c46d.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
height: 32px;
padding-top: 10px;
}

#ctl00_oCPH1_trBlogEntries img {
position: fixed;
height: 32px;
width: 32px;
margin-right: 35px;
}

#ctl00_oCPH1_trBlogEntries a {margin-left: 35px;}

/* NEON PURPLE TEXT - ALL MY BLOGS */
#ctl00_oCPH1_trBlogEntries > a.menu2 {
font-family: 'Courgette', cursive; 
color: #9C00FF !important;
font-size: 14px;
text-shadow: -1px 1px 8px #F3CCFF, 1px -1px 8px #E6BFFE; /*"GLOW"*/
text-align: left !important;
margin-left: 35px;
}

/*---------------------------------       END MESSAGE CENTER        -------------------------------------------*/

#ctl00_oCPH1_imgPicture {
width: 150px;
height: auto;
}

/* MAIN PROFILE PICTURE */
#ctl00_oCPH1_lnkProfPicLink > img { 
border: 2px solid #FF00BB;
border-radius: 12px;
margin-top: 12px;
}

/* VIEW MY PICS LINK */
#ctl00_oCPH1_pnlViewPics a {
font-family: 'Courgette', cursive; 
color: #9C00FF !important;
font-size: 14px;
text-align: center !important;
margin-left: 25px;
}

#ctl00_oCPH1_pnlViewPics a:hover {
text-decoration: line-through;
}

/* QUOTE */
#ctl00_oCPH1_lblQuote {
font-size: 16px;
text-align: center !important;
}

/* DIV CONTAINING QUOTE, INFO & VIEW PIC LINK */
/*#MSCodesFixer > tbody > tr > td > table > tbody > tr > td > div > table > tbody > tr > td {}*/
#ct100_oCPH1_trCommLinks > td {padding-top: 12px;}

/* MY GIFTS TEXT*/
h3, .note {
font-family: 'Courgette', cursive;  
color: #FFFFFF;
font-size: 12px;
}

.content {
font-family: 'Courgette', cursive;  
color: #FF00BB;
font-size: 12px;
}

.title a {
font-family: 'Courgette', cursive; 
color: #FF00BB;
font-size: 14px;
}

.created, 
.rounded.white.description b {
font-family: 'Courgette', cursive; 
color: #FEBFED;
color: #9C00FF;
}

.rounded.white.description {border: none;}

.giftbody .rounded.white {
background: transparent;
}

.content > .row > div > img {margin-right: 30px;}

/* -----------------------------            END GIFTS          ---------------------------*/

/* -----------------------------       MORE ABOUT SECTION        --------------------------- */

/* -----------------------------       END MORE ABOUT SECTION        --------------------------- */

/* -----------------------------       FRIENDS & COMMENTS SECTION        --------------------------- */

/*#ct100_oCPH1_tblPComments > tbody > tr > div.menu2 {}*/

#ct100_oCPH1_tblPComments > tbody > tr > div.menu2 > a {color: #FF00BB;}
#ct100_oCPH1_tblPComments > tbody > tr > div.menu2 > img {border-radius: 5px;}

#ct100_oCPH1_tblPComments p {
width: 550px;
max-width: 550px;
}

#ct100_oCPH1_tbCommentsSection > tr:first-child > td:first-child > div:first-child > div {
border-radius: 5px 5px; 
padding-bottom: 5px;
text-align:center !important;
border: 2px solid rgba(245, 100, 206, 1); 
background: rgba(0, 0, 0, 0.78) !important;
}

/*COMENTS SECTION*/
#ctl00_oCPH1_tbCommentsSection p {width:750px;} 
#ctl00_oCPH1_tbCommentsSection p img {
max-width:650px;
/*width: expression(this.width > 750 ? 750: auto);*/
}
#ctl00_oCPH1_tblPComments p {text-align:center;} 


#ctl00_oCPH1_tbCommentsSection  > tr:first-child  > td:first-child > div:first-child, 
#ctl00_oCPH1_tbFriendsSection > tr:first-child > td:first-child > div:first-child  {
background:url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/label02f_zps56f59111.png") repeat !important;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
height: 35px !important;
width: 840px !important;
width: auto;
margin-left:0px;
margin-top:30px;
box-shadow: 0px 2px 4px #000000 !important;
-moz-box-shadow: 0px 2px 4px #000000 !important;
-webkit-box-shadow: 0px 2px 4px #000000 !important;} 

/*.pcomment_report {}*/

/* NAV BAR 1*/
#npdl00_oCPH1_NavBarTop {
background: url('http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/button2_zps9bbfbe9c.png') center left repeat;
border-radius: 5px;
margin: 12px 10px 12px 10px;
line-height: 50px;} 

#npdl00_oCPH1_NavBarTop a {
font-family: 'Courgette' !important;
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
font-style: normal;
font-weight: bold;
color: #000000;
margin-right: 5px;
padding: 0px 12px;
display: inline-block;
} 

#npdl00_oCPH1_NavBarTop a:hover {
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
font-style: normal;
font-weight: bold;
color: #FFFFFF !important;
text-shadow: 1px 1px 1px #FFFFFF;
} 

#npdl00_oCPH1_NavClothing, 
#npdl00_oCPH1_NavCatalog, 
#npdl00_oCPH1_NavClothing:visited, 
#npdl00_oCPH1_NavCatalog:visited {
color: #FF00BB !important;
text-shadow: 1px 1px 1px #FFFFFF;
/*font-size: 20px !important;*/
}

#npdl00_oCPH1_NavClothing:hover, 
#npdl00_oCPH1_NavCatalog:hover {
color: #FF80DD !important;
text-shadow: 1px 1px 1px #FFFFFF;
}

/* NAV BAR 2 */
/*#npdl00_oCPH1_NavBarTop {
background: none;
margin: 12px 10px 12px 10px;
line-height: 50px;} 

#npdl00_oCPH1_NavBarTop a {
background: url('http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/button2_zps9bbfbe9c.png') center left repeat;
border: 2px #9C00FF;
border-radius: 5px;
font-family: 'Courgette' !important;
text-transform: uppercase;
text-decoration: none;
font-size: 14px;
font-style: normal;
font-weight: bold;
color: #000000;
margin-right: 5px;
padding: 0px 12px;
display: inline-block;
} 

#npdl00_oCPH1_NavBarTop a:hover {
text-transform: uppercase;
text-decoration: none;
font-size: 14px;
font-style: normal;
font-weight: bold;
color: #FFFFFF !important;
text-shadow: 1px 1px 1px #FFFFFF;
} 

#npdl00_oCPH1_NavClothing a, 
#npdl00_oCPH1_NavCatalog a, 
#npdl00_oCPH1_NavClothing a:visited, 
#npdl00_oCPH1_NavCatalog a:visited {
 color: #FF00BB !important;
}

#npdl00_oCPH1_NavClothing a:hover, 
#npdl00_oCPH1_NavCatalog a:hover {
 color: #FF80DD;
}*/


/* SPONSORED CLUB LOGO AND LINKS */

.sponsored a{
 text-align: center !important;
 
}

.clublogo {
 width: 256px;
 height: 256px;
 max-width: 256px;
 border: 2px solid #FF00BB;
 border-radius: 5px;
}
























































