@import url("http://fonts.googleapis.com/css?family=Alef:400,700");
@Override
    public void doFilter(ServletRequest req, ServletResponse res, FilterChain chain) throws IOException, ServletException {
        HttpServletRequest request = (HttpServletRequest) req;
        HttpServletResponse response = (HttpServletResponse) res;
        if(request.getHeader("accept")!=null && request.getHeader("accept").contains("css")){
            response.setHeader("Content-Type", "text/css");
        }
        chain.doFilter(req, response);
    }
/* ---------------------    COLORS SCHEME USED      -------------------------------*/

/*
#FFFFFF - white            rbga (255, 255, 255, 1)
#000000 - black            rgba(0, 0, 0, 1)
#8301FC - neon purple      rgba(131, 1, 252, 1)
#00FF00 - neon green       rgba(0, 255, 0, 1)
#54C571 - zombie green     rgba(84, 197, 113, 1)

*/
/* ---------------------    END COLORS SCHEME     -------------------------------*/


/* ---------------------    MAIN BODY      -------------------------------*/
html {background-image: none !important;}

body, 
.bodyContent {
 background: #000000 url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/bkgd5_zps775760a6.jpg") !important; 
 background-position: center !important; 
 background-repeat: no-repeat !important; 
 background-attachment: fixed !important;
 background-size: cover !important;
}

/* ALL LINKS */
a, a:link {
color: #8301fc;
}
 
a:hover {
color: #00FF00;
text-decoration: line-through;
}

a:visited {
color: #00FF00;
}

#ctl00_oMasterBody > div {background-image: none !important;} 
/* HIDES LAST LOGIN INFO and MEMBER SINCE */
#ctl00_oCPH1_trMemberStats {display: none !important;}  

/* ---------------------    TABLES      -------------------------------*/
/* MAKES TABLE TRANSPARENT */
table, 
td {
background-color: transparent; 
border: none; 
border-width: 0;
}  

tr {
background-color: transparent; 
border: none; 
border-width: 0;
/*text-align: center ;*/
}

hr {
 background: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/divider_ltgreen_zps603dfe8f.png");
 /*background-color:rgba(0,0,0,0.10);*/
border: 0; 
height: 1px; 
background-image: 
-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,255,0,0.75), rgba(0,0,0,0)); 
background-image: 
-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,255,0,0.75), rgba(0,0,0,0)); 
background-image: 
-ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,255,0,0.75), rgba(0,0,0,0)); 
background-image: 
-o-linear-gradient(left, rgba(0,0,0,0), rgba(0,255,0,0.75), rgba(0,0,0,0));  } 

/* --------------------------         ERASES AD AND NAV BAR        ---------------------------*/
.SCMainAdSpace, .SCMainHeaderPanel {display: none;}
/* DROP DOWN ARROW IMG FROM ALL PLACES */
img[src="/images/t2/sec-header-arrow-bk.gif"] {display: none;}
/* BKGRD TITLE BAR */
background[src="/images/t2/sec-header-bg-bk.gif"] {display: none;}

/* ----------------------------        CONTENT TITLE BARS          -------------------------*/

/* CHANGES ND'S PROFILE and MESSAGE CENTER TITLE BARS */
#MSCodesFixer > tbody > tr > td > table > tbody:first-of-type  > tr > td > div:first-of-type, 			
/* CHANGES GENERAL INFO and ND'S SCOOP TITLE BARS */
#ctl00_oCPH1_tbDetailsSection > tr > td  > div:first-of-type, 
/* CHANGES SEXY STUFF TITLE BAR */
#ctl00_oCPH1_pnlSexyStuff > div:first-of-type, 								
/* CHANGES WEB GIFTS TITLE BAR */
#ctl00_oCPH1_pnlWebGifts > div:first-of-type,  										
/* CHANGES????  something in About Me & Like to Meet??? */
/*#ctl00_oCPH1_tbDetailsSection > tr > td:last-of-type  > div:nth-of-type(3), */
/* CHANGES? something in Friends List PDispBox?*/
/*#ctl00_oCPH1_tblFriendsList > tr:first-of-type > td > div, */
/* CHANGES SEARCH BAR */
#ctl00_oCPH1_tbCommentsSection > tr:first-of-type > td > div, .MPToolsBar,
#ct100_oMasterContentDiv > div:nth-child(2),
#ctl00_oCPH1_tbFriendsSection > tr:first-child > td:first-child > div:first-child,
#ctl00_oCPH1_tbDetailsSection  > tr:first-child  > td  > div[style*="000000"] > img:first-child
/* ELEMENT.STYLE */
{ 
/*border-radius: 5px 5px; */
padding-top: 5px;
padding-bottom: 8px;
text-align: center !important;
/*border: 2px solid rgba(156, 0, 255, 1);*/  /*NEON PURPLE*/
/*border: 2px solid rgba(0, 255, 0, 1);*/  /*NEON GREEN*/
background: rgba(0, 0, 0, 0.78) !important;
background: /*#000000*/ url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/labelJ1_zps084a5f62.png") !important;
font-family: 'Alef', sans-serif;
color: #FFFFFF; 
font-size: 18px; 
text-transform: uppercase;
height: 28px !important;
text-shadow: -1px 1px 8px #000000, 1px -1px 8px #000000; /*"SHADOW"*/
z-index: -1;
}
 
/*table table table table td {filter: none;}*/

#MSCodesFixer > tbody > tr > td > table > tbody:first-of-type  > tr > td:nth-of-type(2) > 
div:first-of-type > table > tbody > tr > td {padding-top: 12px;} 	
/*#MSCodesFixer > tbody > tr > td > table > tbody:first-of-type  > tr > td:nth-of-type > div:first-of-type {} 	*/

/*div#ctl00_oCPH1_tbFriendsSection > tr:first-of-type > td > div > img { display:none; }
div {background-image: none;}*/
/* ------------------------------      FRIENDS LIST IMGS       -------------------------*/
/* BORDER AROUND FRIENDS LIST IMGS */
.PDispBox {
border-radius: 5px; 
border: 2px solid rgba(0, 255, 0, 1);  /*NEON GREEN*/
background: #000000 url('') no-repeat;}

.PDispUsername, .PDispImage {
background: rgba(0, 0, 0, 0.78) !important;
background-image: none;}

.PDispOnlineSC,
.PDispOnline3D {
 background-color: transparent;
}

/* WHITE TEXT FOR SUBTITLES */
td > b {
font-family: 'Alef', sans-serif; 
color: #FFFFFF; 
font-size: 14px; 
text-transform: uppercase;
top: 0px !important;}

/* HOT PINK TEXT FOR MAIN CONTENT */
div p { 
font-family: 'Alef', sans-serif; 
color: #00FF00; 
font-size: 14px; 
text-align: center !important; 
top: 0px !important;}  

/* GENERAL INFO and SEXY STUFF TEXT */
td > span {
font-family: 'Alef', sans-serif; 
color: #00FF00; 
font-size: 16px; 
text-align: center !important; 
top: 0px !important;}  

/* REMOVES ICONS FROM MESSAGE CENTER and ND'S PROFILE */
img[src="/images/ico-16-zoom.gif"],
img[src="/images/ico-16-clothing.gif"],
img[src="/images/ico-16-document.gif"],
img[src="/images/ico-16-mail.gif"],
img[src="/images/ico-16-friend.gif"],
img[src="/images/ico-16-transfer.gif"],
img[src="/images/ico-16-gift.gif"],
img[src="/images/ico-16-block.gif"]/*,
img[src="/images/t1/VIP-30.png"]*/ {display:none;}

/* REPLACES ICONS FROM MESSAGE CENTER and ND'S PROFILE */
/*
background-image: url(http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/Document_zps81a71f90.png);}

*/

a.link, .menu2.link {color: #FFFFFF !important;}
a.link, .menu2.link:hover {color: #8301fc !important; text-decoration: none;}
a.link, .menu2.link {color: #00FF00 !important;}



/*---------------------------------------       MESSAGE CENTER      ----------------------------------------*/

#ctl00_oCPH1_oDivStatus {
font-family: 'Alef', sans-serif; 
color: #00FF00 !important;
font-size: 16px;
padding-top: 12px;
padding-bottom: 12px;
}

/* WHITE TEXT FOR PROFILE PERSONAL INFO & BLOG ENTRY TITLE */
#ctl00_oCPH1_lblRSex,
#ctl00_oCPH1_lblMySexuality,
#ctl00_oCPH1_lblAge, 
#ctl00_oCPH1_lblCityState,
#ctl00_oCPH1_lblCountry,
#ctl00_oCPH1_trMemberStats,
#ctl00_oCPH1_trBlogEntries {
font-family: 'Alef', sans-serif; 
color: #54C571 !important;
font-size: 14px;}

#ctl00_oCPH1_lblRSex {margin-top: 15px;}
#ctl00_oCPH1_trBlogEntries > td > div {text-align: center;}
#ctl00_oCPH1_trBlogEntries > td > div > b {margin-left: 35px !important;}

/* HOT PINK TEXT - MY OUTFITS LINK */
#ctl00_oCPH1_trListOutfits > td {padding-top: 25px; line-height:34px;}
#ctl00_oCPH1_oDivListOutfits > a.menu2 {
font-family: 'Alef', sans-serif; 
color: #00FF00 !important;
font-size: 20px;
text-shadow: 1px 1px 1px #000000, -2px 2px 9px #00FF00, 2px -2px 9px #00FF00; /*"GLOW"*/
text-align: left !important;
margin-left: 35px;
}

/* WHITE LINKS */
#ctl00_oCPH1_trCommLinks a,
#ctl00_oCPH1_trSendChips a {
font-family: 'Frijole', cursive;; 
color: #54C571 !important;
font-weight: normal;
font-size: 12px;
text-align: left !important;
margin-left: 35px;
}

/* ICON REPLACE - MESSAGE ME */
#ctl00_oCPH1_trCommLinks {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/msg_zpsc5c342cc.png") !important;
background-repeat: no-repeat;
background-position: left top;
line-height: 32px;
/*padding-top:12px;*/
/*vertical-align: middle;*/
}

#ctl00_oCPH1_trCommLinks > div:first-child a {text-align: left !important;}

/* ICON REPLACE - ADD ME */
#ctl00_oCPH1_oDivAdAsFriend   {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/friend_zpsa5c0eb75.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
}

/* ICON REPLACE - SEND ME FUNDS */
#ctl00_oCPH1_oDivTransferRays   {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/funds_zps55b2cc74.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
}

/* ICON REPLACE - SEND ME GIFT */
#ctl00_oCPH1_oDivSendGift   {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/gift3_zps87584f3b.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
}

/* ICON REPLACE - BLOCK ME */
#ctl00_oCPH1_trCommLinks > td > div:last-child {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/block_zps35b16573.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
}

/* ICON REPLACE - SEND ME CHIPS */
#ctl00_oCPH1_oDivTransferChips {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/funds_zps55b2cc74.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
line-height: 32px;
}


/* NEON PURPLE TEXT - MY WISHLIST LINK */
#ctl00_oCPH1_oDivListWishes > a.menu2 {
font-family: 'Alef', sans-serif; 
color: #8301fc !important;
font-size: 20px;
text-shadow: 1px 1px 1px #000000, -1px 1px 8px #8301fc, 1px -1px 8px #8301fc; /*"GLOW"*/
text-align: left !important;
margin-left: 35px;
}

/* NEON GREEN - MY OUTFITS */
#ctl00_oCPH1_oDivListOutfits a:hover ,
/* NEON PURPLE - MY WISHLIST */
#ctl00_oCPH1_oDivListWishes a:hover {  
text-decoration: line-through;
}

/* ICON REPLACE - MY OUTIFTS */
#ctl00_oCPH1_oDivListOutfits {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/111502-glowing-green-neon-icon-culture-skull32_zpsf7209bd4.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
height: 32px;
/*padding-top: 50px;*/
}

#ctl00_oCPH1_oDivListOutfits img {
position: fixed;
}

/* ICON REPLACE - MY WISHLIST */
#ctl00_oCPH1_oDivListWishes {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/gift0_zps5b56c262.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
height: 32px;
}

#ctl00_oCPH1_oDivListWishes img {
position: fixed;
height: 32px;
width: 32px;
}

#ctl00_oCPH1_imgVIPOnly {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/VIP-30b_zpsa076e8cb.png") !important;
background-repeat: no-repeat;
background-position: left top;
}
/* WHITE LASTEST BLOGS TITLE */
#ctl00_oCPH1_lblLastBlogEntries > td > div > b {
margin-left: 20px;
text-decoration: underline;
} 

/*HOT PINK TEXT - LASTEST BLOG ENTRIES LINKS*/
#ctl00_oCPH1_lblLastBlogEntries a {
font-family: 'Alef', sans-serif; 
color: #00FF00 !important;
font-size: 12px;}

#ctl00_oCPH1_lblLastBlogEntries a:hover {
text-decoration: line-through;
color: #FF80DD;
}

#ctl00_oCPH1_lblLastBlogEntries a:visited {
color: #FF80DD !important;
text-decoration: line-through;
}

/* ICON REPLACE - ALL MY BLOGS */
#ctl00_oCPH1_trBlogEntries > td > div:nth-child(2) {
background-image: url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/blog_zpsfc2b41af.png") !important;
background-repeat: no-repeat;
background-position: left top;
text-align: left !important;
height: 32px;
padding-top: 10px;
}

#ctl00_oCPH1_trBlogEntries img {
position: fixed;
height: 32px;
width: 32px;
margin-right: 35px;
}

#ctl00_oCPH1_trBlogEntries a {margin-left: 35px;}

/* NEON PURPLE TEXT - ALL MY BLOGS */
#ctl00_oCPH1_trBlogEntries > a.menu2 {
font-family: 'Alef', sans-serif; 
color: #8301fc !important;
font-size: 14px;
text-shadow: -1px 1px 8px #F3CCFF, 1px -1px 8px #E6BFFE; /*"GLOW"*/
text-align: left !important;
margin-left: 35px;
}



/*---------------------------------       END MESSAGE CENTER        -------------------------------------------*/

#ctl00_oCPH1_imgPicture {
width: 150px;
height: auto;
}

/* MAIN PROFILE PICTURE */
#ctl00_oCPH1_lnkProfPicLink > img { 
border: 2px solid #00FF00;
border-radius: 12px;
margin-top: 12px;
}

/* VIEW MY PICS LINK */
#ctl00_oCPH1_pnlViewPics a {
font-family: 'Alef', sans-serif; 
color: #8301fc !important;
font-size: 14px;
text-align: center !important;
margin-left: 25px;
}

#ctl00_oCPH1_pnlViewPics a:hover {
text-decoration: line-through;
}

/* QUOTE */
#ctl00_oCPH1_lblQuote {
font-size: 16px;
text-align: center !important;
}

/* DIV CONTAINING QUOTE, INFO & VIEW PIC LINK */
/*#MSCodesFixer > tbody > tr > td > table > tbody > tr > td > div > table > tbody > tr > td {}*/
#ct100_oCPH1_trCommLinks > td {padding-top: 12px;}

/* MY GIFTS TEXT*/
h3, .note {
font-family: 'Alef', sans-serif;  
color: #FFFFFF;
font-size: 12px;
}

.content {
font-family: 'Alef', sans-serif;  
color: #00FF00;
font-size: 12px;
}

.title a {
font-family: 'Alef', sans-serif; 
color: #00FF00;
font-size: 14px;
}

.created, 
.rounded.white.description b {
font-family: 'Alef', sans-serif; 
color: #FEBFED;
color: #8301fc;
}

.rounded.white.description {border: none;}

.giftbody .rounded.white {
background: transparent;
}

.content > .row > div > img {margin-right: 30px;}

/* -----------------------------            END GIFTS          ---------------------------*/

/* -----------------------------       MORE ABOUT SECTION        --------------------------- */
/*#ctl00_oCPH1_tbDetailsSection   */

#ctl00_oMasterContentDiv > tr:first-child > td > div { background:url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/labelJ_zps57b30be8.png") repeat !important;}
#ctl00_oMasterContentDiv > tr:first-child > td > div[style*="000000"] > div {
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
height: 28px !important;
text-transform: uppercase !important;
text-align: center !important;
font-family: 'Alef' !important;
font-size: 18px;
width: auto;
margin-left:0px;
/*margin-top:30px;*/
 
}
/* -----------------------------       END MORE ABOUT SECTION        --------------------------- */
/* -----------------------------       FRIENDS SECTION        --------------------------- */
/* -----------------------------       END FRIENDS SECTION        --------------------------- */

/* -----------------------------       COMMENTS SECTION        --------------------------- */

/*#ct100_oCPH1_tblPComments > tbody > tr > div.menu2 {}*/

#ct100_oCPH1_tblPComments > tbody > tr > div.menu2 > a {color: #00FF00;}
#ct100_oCPH1_tblPComments > tbody > tr > div.menu2 > img {border-radius: 5px;}

#ct100_oCPH1_tblPComments p {
width: 550px;
max-width: 550px;
}

#ct100_oCPH1_tbCommentsSection > tr:first-child > td:first-child > div:first-child > div {
border-radius: 5px 5px; 
padding-bottom: 0px;
text-align:center !important;
border: 2px solid rgba(245, 100, 206, 1); 
background: rgba(0, 0, 0, 0.78) !important;
}

/*COMENTS SECTION*/
#ctl00_oCPH1_tbCommentsSection p {width:750px;} 
#ctl00_oCPH1_tbCommentsSection p img {
max-width:750px;
/*width: expression(this.width > 750 ? 750: auto);*/} 
#ctl00_oCPH1_tblPComments p {text-align:center;} 


#ctl00_oCPH1_tbCommentsSection  > tr:first-child  > td:first-child > div:first-child, 
#ctl00_oCPH1_tbFriendsSection > tr:first-child > td:first-child > div:first-child  {
background:url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/labelJ_zps57b30be8.png") repeat !important;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
height: 28px !important;
/*width:225px;*/
width: auto;
margin-left:0px;
margin-top:30px;
/*box-shadow: 0px 2px 4px #000000 !important;
-moz-box-shadow: 0px 2px 4px #000000 !important;
-webkit-box-shadow: 0px 2px 4px #000000 !important;*/
 
} 


.pcomment_report {
 background:url("http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/labelj01_zps25242db8.jpg") center center; 
padding:5px 15px;
text-shadow:1px 1px 1px #000;
color:#fff !important;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

/* NAV BAR 1*/
#npdl00_oCPH1_NavBarTop {
background: url('http://i173.photobucket.com/albums/w55/syn1234567/For%20Jay/J_prof/labelj01_zps25242db8.jpg') center left repeat;
border-radius: 5px;
margin: 12px 10px 12px 10px;
line-height: 50px;} 

#npdl00_oCPH1_NavBarTop a {
font-family: 'Alef' !important;
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
font-style: normal;
font-weight: bold;
color: #000000;
margin-right: 5px;
padding: 0px 12px;
display: inline-block;
} 

#npdl00_oCPH1_NavBarTop a:hover {
text-transform: uppercase;
text-decoration: none;
font-size: 16px;
font-style: normal;
font-weight: bold;
color: #FFFFFF !important;
text-shadow: 1px 1px 1px #000000;
} 

#npdl00_oCPH1_NavClothing, 
#npdl00_oCPH1_NavCatalog, 
#npdl00_oCPH1_NavClothing:visited, 
#npdl00_oCPH1_NavCatalog:visited {
color: #8301FC !important;
text-shadow: 2px 2px 2px #000000;
font-size: 18px !important;
}

#npdl00_oCPH1_NavClothing:hover, 
#npdl00_oCPH1_NavCatalog:hover {
color: #8301FC !important;
text-shadow: 2px 2px 2px #000000;
}

#ctl00_oCPH1_pnlSocialPoints {
 background: #000000 url('') no-repeat;}
 
 
#NDPR_logo {
position: absolute;
height: 120px;
width: 960px;
z-index: 1;
top: 90px;
margin-left: -744px;
/*background: url("http://i173.photobucket.com/albums/w55/syn1234567/profile%20stuu/NDPR_Logo1_zps18c78a7f.png") no-repeat;
background-attachment: fixed;*/}
